# Server Port
server:
  port: 8080

# Spring
spring:
  application:
     name: asiakv
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true

# Spring Doc
springdoc:
  packages-to-scan : com.asia.asiakv
  paths-to-match: /**

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    enable:
      all: true
